 * {
     margin: 0px;
     padding: 0px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: #5C6751;
 }
 /* Css for all */
 
 .img-responsive {
     width: 100%;
 }
 
 .img-curve {
     border-radius: 15px;
 }
 
 .text-center {
     text-align: center;
 }
 
 .text-right {
     text-align: right;
 }
 
 .container {
     width: 80%;
     margin: 0 auto;
     padding: 1%;
 }
 
 .clearfix {
     clear: both;
     float: none;
 }
 
 a {
     color: #1F85DE;
     text-decoration: none;
 }
 
 a:hover {
     color: #DE1F85;
     transition: .4s;
 }
 
 li {
     display: inline;
 }
 
 .btn {
     padding: 1%;
     border: none;
     font-size: 1rem;
     cursor: pointer;
     border-radius: 2px;
 }
 
 .btn-primary {
     background-color: #1F85DE;
     color: white;
 }
 
 .btn-primary:hover {
     background-color: #DE1F85;
     color: white;
     transition: 0.4s;
 }
 
 h2 {
     font-size: 2rem;
 }
 
 h3 {
     font-size: 1.5rem;
 }
 
 .float-container {
     position: relative;
 }
 
 .float-text {
     position: absolute;
     bottom: 20px;
     left: 5%;
 }
 
 .text-white {
     color: white;
 }
 /* Navbar Css */
 
 .logo {
     width: 10%;
     float: left;
 }
 
 .menu {
     line-height: 40px;
 }
 
 .menu ul li {
     display: inline;
     padding: 1%;
     font-weight: bold;
 }
 /* Food Search Section */
 
 .food-search {
     background-image: url(../images/bg.jpg);
     padding: 8% 0;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }
 
 .food-search input[type="search"] {
     width: 50%;
     padding: 1%;
     font-size: 1rem;
     border: none;
     border-radius: 2px;
 }
 /* Css for categories */
 
 .categories {
     padding: 4% 0;
 }
 
 .box-3 {
     width: 29%;
     float: left;
     margin: 2%;
 }
 /* Css for Food Menu */
 
 .food-menu {
     background-color: rgb(241, 237, 237);
     padding: 4% 0;
 }
 
 .food-menu-img {
     width: 20%;
     float: left;
 }
 
 .food-menu-box {
     border: 1px solid black;
     width: 43%;
     margin: 1%;
     float: left;
     padding: 2%;
     background-color: #fff;
 }
 
 .food-menu-desc {
     width: 70%;
     float: left;
     margin-left: 8%;
 }
 
 .food-price {
     font-size: 1.2rem;
     margin: 2% 0;
 }
 
 .food-detail {
     font-size: 1rem;
 }
 /* Social Media */
 
 .social-media ul li {
     padding: 1%;
 }
 /* Css for Mobile */
 
 @media only screen and (max-width:768px) {
     .logo {
         width: 80%;
         float: none;
         margin-left: 1% auto;
     }
     .menu ul {
         text-align: center;
     }
     .food-search input[type="search"] {
         text-align: center;
         padding: 2%;
         margin-bottom: 5%;
         width: 80%;
     }
     .box-3 {
         width: 98%;
         margin: 2% auto;
     }
     .categories {
         padding: 20% 0;
     }
     h2 {
         margin-bottom: 10%;
     }
     .food-menu {
         padding: 20% 0;
     }
     .food-menu-box {
         width: 90%;
         padding: 5%;
         margin-bottom: 5%;
     }
     .social-media {
         padding: 5% 0;
     }
 }
 /* primary color:#85DE1F blue
 secondary color:#DE1F85  pink hover color*/